/*

CSS HOME

*/

  @font-face {
      font-family: 'ITCKABEL';
      src: url('../fonts/ITCKabelStdBook.woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'ITCKABEL';
      src: url('../fonts/ITCKabelStdMedium.woff');
      font-weight: medium;
      font-style: normal;
  }

  @font-face {
    font-family: 'ITCKABEL';
    src: url('../fonts/ITCKabelStdDemi.woff');
    font-weight: 600;
    font-style: normal;
}
  @font-face {
      font-family: 'ITCKABEL';
      src: url('../fonts/ITCKabelStdBold.woff');
      font-weight: bold;
      font-style: normal;
  }
  @font-face {
    font-family: 'Moonlight';
    src: url('../fonts/Moonlight.ttf');
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --primary-color:        #FA9EC5;
    --cream-color:          #E9E6E1;
    --hotpink-color:        #F56B8C;
    --white-color:          #ffffff;
    --dark-color:           #171819;
    --about-bg-color:       #f9f9f9;
    --yellow-color:         #E2DE79;

    --gray-color:           #909090;
    --link-color:           #7176DA;
    --p-color:              #666262;

    --base-font-family:     'ITCKABEL', sans-serif;
    --font-weight-bold:     bold;
    --font-weight-normal:   normal;
    --font-weight-medium:   medium;
    --font-weight-demi:     600;
    --font-weight-light:    300;
    --font-weight-thin:     100;

    --h1-font-size:         48px;
    --h2-font-size:         36px;
    --h3-font-size:         28px;
    --h4-font-size:         24px;
    --h5-font-size:         22px;
    --h6-font-size:         22px;
    --p-font-size:          18px;
    --base-font-size:       16px;
    --menu-font-size:       18px;
    --link-font-size:       30px;

    --mobile-font-size-p:   23px;

    --border-radius-large:  100%;
    --border-radius-small:  2px;
  }

  

  body {
    background: var(--dark-color);
    font-family: var(--base-font-family);
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: var(--font-weight-thin);
    line-height: normal;
  }

  h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    margin: 20px 0;
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -2px;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -1px;
    margin: 0;
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  h5 {
    font-size: var(--h5-font-size);
  }

  h6 {
    color: var(--gray-color);
    font-size: var(--h6-font-size);
    line-height: inherit;
    margin: 0;
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-normal);
    line-height: 1.5em;
  }

  b, 
  strong {
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
  }

  .section {
    padding: 7rem 0;
  }


  /* BUTTON */

  .custom-btn {
    background: transparent;
    border-radius: var(--border-radius-small);
    padding: 14px 24px;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    color: var(--primary-color);
  }

  .custom-btn:focus {
    box-shadow: none;
  }

  .custom-btn.bordered:hover,
  .custom-btn.bordered:focus,

  .custom-btn.bg-color:hover,
  .custom-btn.bg-color:focus {
    background: var(--white-color);
    border-color: transparent;
    color: var(--primary-color);
  }

  .bordered {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  .bg-color {
    background: var(--primary-color);
    color: var(--white-color);
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: var(--link-color);
    font-weight: medium;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  a:hover, 
  a:active, 
  a:focus {
    color: var(--primary-color);
    outline: none;
    text-decoration: none;
  }


  /* BG OVERLAY */




  /*---------------------------------------
     MODAL              
  -----------------------------------------*/

  .modal-content {
    padding: 2rem 3rem;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    border: 0;
    padding: 0;
  }

  .membership-form a {
    color: var(--primary-color);
  }


  /*---------------------------------------
    FEATURE // o meni mini txt na pocetnoj        
  -----------------------------------------*/

  .feature {
    background: var(--dark-color);
    padding: 5rem 0;
  }


  /*---------------------------------------
     MENU             
  -----------------------------------------*/
#logo {
  width: 15%;
}
  .navbar {
    background: transparent;
    padding: 1rem;
    transition:background-color 200ms linear;
  }
  .navbar.scrolled {
    background-color: #7176DA !important;
    transition: background-color 200ms linear;
  }
  #eye {
    width: 10%;
    margin-top: -50%;
    padding: 0px;
  }
 

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .navbar-brand {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
    padding-top: 0;
  }

  .nav-item .nav-link {
    display: block;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-demi);
    text-transform: lowercase;
    padding: 2px 6px;
  }

  .nav-item .nav-link.active,
  .nav-item .nav-link:hover {
    color: var(--primary-color);
  }

  .navbar .social-icon li a {
    color: var(--white-color);
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }

  .navbar-toggler .navbar-toggler-icon {
    background: var(--cream-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 35px;
    height: 3px;
    position: relative;
  }

  .navbar-toggler .navbar-toggler-icon::before,
  .navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--cream-color);
    width: 35px;
    height: 3px;
    content: '';
  }

  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }

  /*---------------------------------------
     HERO              
  -----------------------------------------*/

  .hero {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
  }




  .video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    }
    .video-background-tablet {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      }
      .video-background-phone {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        }
    .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -999;
    }

  .video-background-tablet video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -999;
  }
  .video-background-phone video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -999;
  }

  .video-background-tablet {
    display:none;
  }
  .video-background-phone {
    display:none;
  }







  /*---------------------------------------
     CLASS               
  -----------------------------------------*/

  .class-info {
    background: var(--yellow-color);
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    border-radius: 0 0 2px 2px;
    padding: 1rem 2rem;
    position: relative;
  }
  .class {
    background-color: var(--cream-color);
  }
  .class-info img {
    border-radius: 2px 2px 0 0;
  }
  #zigzagclass {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
  .class-info strong {
    color: var(--gray-color);
  }
  .class a {
    font-weight: var(--font-weight-bold);
    font-size: var(--link-font-size);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5px;
  }

  .class-price {
    background: var(--primary-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-weight: var(--font-weight-bold);
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
  #zigzaghome {
    width: 70%;
  }
  .class h2 {
    font-size: 45px;
  }
  





  /*---------------------------------------
     CONTACT              
  -----------------------------------------*/

  .webform input,
  button#submit-button {
    height: calc(2.25rem + 20px);
  }

  .form-control {
    border-radius: var(--border-radius-small);
    margin: 1.3rem 0;
    background-color: transparent;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: var(--dark-color);
  }

  button#submit-button {
    background: var(--dark-color);
    border-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button#submit-button:hover {
    background: var(--primary-color);
  }

  .contact h2 + p {
    max-width: 90%;
  }

  #contact-gif {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  .site-footer {
    border-top: 1px solid #31A4CB;
    padding: 3rem 0;
    background-color: var(--cream-color);
  }

  .site-footer a {
    color: var(--dark-color);
    font-weight: var(--font-weight-light);
  }

  .site-footer p {
    font-size: var(--base-font-size);
    color: var(--dark-color);
  }

  .contact .fa,
  .site-footer .fa {
    color: #31A4CB;
  }
  .copyright-text {
    display: block;
   
    text-align: center;
  }


  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0 0 0 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a { /* insta */
    text-decoration: none;
    display: inline-block;
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-medium); /* debljina ikone */
    margin: 0px 10px;
    text-align: center;
  }

  .social-icon li a:hover {
    color: var(--primary-color);
  }


  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  
  @media screen and (max-width: 992px) {

    .section {
      padding: 5rem 0;
    }
  
    .video-background {
      display: none;
    }
    .video-background-phone {
      display: none;
    }
    .video-background-tablet {
      display: block;
    }



    #eye {
      width: 22%;
      margin-top: -70%;
    }
    .nav-item .nav-link {
      padding: 6px;
    }

    .navbar .social-icon {
      margin-top: 22px;
    }
    .class h2 {
      font-size: 55px;
    }
  
    .navbar-collapse,
    .site-footer {
      text-align: center;
    }

    .schedule-table {
      display: block;
    }

    .modal-content {
      padding: 2rem;
    }
    .navbar {
      background: #7176DA;
    }
    .social-icon li a { /* insta */
      font-size: 35px;
      padding-bottom: 15px;
    }
    .nav-item .nav-link { /* tablet linkovi u navigaciji */
      font-size: 30px;
    }
    p {
      font-size: var(--mobile-font-size-p);
    }
    h2 {
      font-size: 45px;
      font-weight: bold;
    }
    h6 {
      font-size: 26px;
    }
    .class a {
      font-size: 35px;
    }
    #zigzagclass {
      width: 65%;
    }
    #zigzaghome {
      width: 100%;
    }
   
  }

  @media screen and (max-width: 767px) {

    h1 {
      font-size: 38px;
    }


    .video-background {
      display: none;
    }
    .video-background-phone {
      display: block;
    }
    .video-background-tablet {
      display: none;
    }

    h2 {
      font-size: 50px;
      font-weight: bold;
    }
    .class h2 {
      font-size: 60px;
    }
    p {
      font-size: var(--mobile-font-size-p);
    }
    h6 { /*podnaslov ispod hi */
      font-size: 23px;
    }

    .site-footer p {
      font-size: 18px;
    }

   

    .contact h2 span {
      display: block;
    }
    #eye {
      width: 25%;
      margin-top: -110%;
    }
    .navbar {
      background: #7176DA;
    }

    .social-icon li a { /* insta */
      font-size: 35px;
      padding-bottom: 80%;
      padding-top: 25%;
    }

    .nav-item .nav-link { /* telefon linkovi u navigaciji */
      font-size: 30px;
      margin-top: 6%;
    }
    #logo {
      width: 16%;
    }
    #zigzagclass {
      width: 70%;
    }
    #zigzaghome {
      width: 70%;
    }
    .class a {
      font-size: 40px;
    }
    .navbar-brand {
      width: 70%;
    }
  }